<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <h1>URL's</h2>
    <% if (users) { %>
      <form method="GET" action='/urls/new'>
        <input type="submit" value="New URL">
      </form>
    <% } else { %>
      <form method="GET" action='/login'>
        <input type="submit" value="New URL">
      </form>
    <% }; %>

      <% for (var shortURLS in urls) { %>
        <%= shortURLS %> > <a href='<%= urls[shortURLS] %>'><%= urls[shortURLS] %></a>

        <form method="GET" action="/urls/<%= shortURLS %>">
          <input type="submit" value="Edit">
        </form>

        <form method="POST" action="/urls/<%= shortURLS %>/delete">
          <input type="submit" value="Delete" display="inline-block">
        </form>
      <% }; %>
  </main>
</body>

</html>