<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyAPP</title>
  <% include ./partials/_header %>
</head>

<body>
  <main>
    <% if (users) { %>
      <table>
        <tr>
          <th>Original URL</th>
          <th>ShortURL</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <% for (var shortURLS in urls) { %>
          <% if (users.id === urls[shortURLS].userID) { %>
            <tr>
              <th><%= urls[shortURLS].longURL %></th>
              <th><a href='<%= urls[shortURLS].longURL %>'><%= shortURLS %></a></th>
              <th>
                <form method="GET" action="/urls/<%= shortURLS %>">
                  <input type="submit" value="Edit">
                </form>
              </th>
              <th>
                <form method="POST" action="/urls/<%= shortURLS %>/delete">
                  <input type="submit" value="Delete" display="inline-block">
                </form>
              </th>
          <% } %>
        <% } %>
      </table>
      <form method="GET" action='/urls/new'>
        <input type="submit" value="Create a New ShortURL">
      </form>
    <% } else { %>
      <p>Please log in!</p>
    <% }; %>

  </main>
</body>

</html>