<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>

  <main>
    <h1>
      <li>ShortURL: <a href='/u/<%= shortURL %>'>/u/<%= shortURL %></a> = <a href='<%= longURL %>'><%= longURL.longURL %></a></li>
      <form method="POST" action="/urls/<%= shortURL %>">
        <input id="longURL", type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
      </form>

    </h2>
 <p>


    </p>
  </main>
</body>

</html>
